@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Varela+Round&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}
.homePage {
  width: 100%;
  height: auto;
  padding: 30px 110px 40px 110px;
}
.classes {
  padding: 80px 40px;
  display: flex;
  gap: 40px;
}
.classes .select-calss {
  width: 30%;
  height: 340px;
  border-radius: 4px;
  padding: 50px 30px;
  background-color: #487eb0;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.classes .class-form #class_submit {
  background-color: #fff;
  color: #2e286b;
  font-weight: bold;
  cursor: pointer;
}
.classes .class-form h2 {
  text-align: center;
  padding-bottom: 14px;
  color: #fff;
  letter-spacing: 1px;
}
.classes .class-form input {
  width: 100%;
  padding: 10px 14px;
  border-radius: 4px;
  border: none;
  outline: none;
  margin: 12px 0;
  font-size: 14px;
}
.class-table {
  width: 50%;
  border-radius: 4px;
  padding: 16px 30px 16px 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.class-table table {
  border-collapse: collapse;
  width: 100%;
  height: auto;
  margin: auto;
  text-align: left;
}
.class-table table thead tr:nth-child(1) {
  border-top: 2px solid #ecf0f1;
  border-bottom: 2px solid #ecf0f1;
}
.class-table table thead th {
  text-align: center;
  padding: 14px 0;
}
.class-table table td,
.class-table table th {
  border-bottom: 1px solid #ecf0f1;
  text-align: center;
  padding: 8px 20px;
}
.thirdRow {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.editRow,
.deleteRow {
  border: none;
  font-size: 22px;
  color: #f39c12;
  outline: none;
  background-color: #fff;
  cursor: pointer;
}
.deleteRow {
  color: #e74c3c;
}
